// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/* Copyright (c) 2022 Spacemit, Inc */

/dts-v1/;

#include "k1-pro.dtsi"
#include "spacemit-scmi.dtsi"
#include "k1-pro_pinctrl.dtsi"
/ {
	model = "spacemit k1-pro fpga board";

	cpus: cpus {
		#address-cells = <1>;
		#size-cells = <0>;
		timebase-frequency = <50000000>;

		cpu_2: cpu@2 {
			reg = <2>;
		};

		cpu_3: cpu@3 {
			reg = <3>;
		};

		cpu-map {
			cluster0 {
				core0 {
					cpu = <&cpu_0>;
				};

				core1 {
					cpu = <&cpu_1>;
				};

				core2 {
					cpu = <&cpu_2>;
				};

				core3 {
					cpu = <&cpu_3>;
				};
			};
		};

	};

	memory@0 {
		device_type = "memory";
		reg = <0xA0 0x00000000 0x1 0x00000000>;
	};

	chosen {
		bootargs = "earlycon=sbi console=ttyS0,115200n8 debug loglevel=8,initcall_debug=1 rdinit=/init.tmp";
		stdout-path = "serial0:115200n8";
	};

	reserved-memory {
		esos_dram: riscv_memreserve {
			reg = <0xA0 0x3F000000 0x0 0x1000000>;
			no-map;
		};
	};
};

&uart0 {
    clock-frequency = <50000000>;
	status = "okay";
};

&emmc {
	status = "disabled";
};

&sdhci {
	no-1-8-v;
	status = "okay";
};

&usbdrd3 {
	status = "okay";
};

&qspi0 {
       pinctrl-names = "default";
       pinctrl-0 = <&pinctrl_qspi0>;
       num-cs = <4>;
       status = "okay";

       flash@0 {
               compatible = "jedec,spi-nor";
               reg = <0>;
               spi-max-frequency = <6250000>;
               m25p,fast-read;
               spi-tx-bus-width = <1>;
               spi-rx-bus-width = <4>;
               broken-flash-reset;
               status = "disabled";
       };
};

&qspi1 {
	num-cs = <4>;
	status = "okay";

	flash@0 {
		compatible = "spi-nand";
		reg = <0>;
		spi-max-frequency = <6250000>;
		spi-tx-bus-width = <4>;
		spi-rx-bus-width = <4>;
		status = "disabled";
	};
};

&eth0 {
       phy-mode = "rmii";
       pinctrl-names = "default";
       pinctrl-0 = <&pinctrl_gmac>;
       rx-clk-delay = <0x00>; /* for RGMII */
       tx-clk-delay = <0x00>; /* for RGMII */
       phy-handle = <&phy_88E1111_0>;
       status = "okay";

       mdio0 {
               #address-cells = <1>;
               #size-cells = <0>;
               compatible = "snps,dwmac-mdio";

               phy_88E1111_0: ethernet-phy@0 {
                       reg = <0x7>;
               };
       };
};

&pcie5 {
      status = "disabled";
};

&esos_rproc {
	memory-region = <&esos_dram>;
};

&vpu {
        status = "disabled";
};

&cpu_0 {
	clocks = <&scmi_dvfs 0>;
};

&cpu_1 {
	clocks = <&scmi_dvfs 0>;
};

&cpu_2 {
	clocks = <&scmi_dvfs 0>;
};

&cpu_3 {
	clocks = <&scmi_dvfs 0>;
};
