// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/* Copyright (c) 2023 Spacemit, Inc */

/dts-v1/;

#include "k1-x.dtsi"
//#include "k1-x-efuse.dtsi"
#include "k1-x_pinctrl.dtsi"
#include "lcd/lcd_icnl9951r_mipi.dtsi"
#include "k1-x-lcd.dtsi"
#include "k1-x-hdmi.dtsi"
//#include "k1-x_opp_table.dtsi"
//#include "k1-x_thermal_cooling.dtsi"
#include "k1-x-camera-sdk.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>

/ {
	model = "MUSE-PAPER-MINI-4G";
	modules_usrload = "8852bs";

	cpus: cpus {
		#address-cells = <1>;
		#size-cells = <0>;
		timebase-frequency = <24000000>;

		cpu_0: cpu@0 {
			cpu-ai = "true";
		};

		cpu_1: cpu@1 {
			cpu-ai = "true";
		};

		cpu_2: cpu@2 {
			reg = <2>;
			cpu-ai = "true";
		};

		cpu_3: cpu@3 {
			reg = <3>;
			cpu-ai = "true";
		};

		cpu-map {
			cluster0 {
				core0 {
					cpu = <&cpu_0>;
				};

				core1 {
					cpu = <&cpu_1>;
				};

				core2 {
					cpu = <&cpu_2>;
				};

				core3 {
					cpu = <&cpu_3>;
				};
			};

			cluster1 {
				core0 {
					cpu = <&cpu_4>;
				};

				core1 {
					cpu = <&cpu_5>;
				};

				core2 {
					cpu = <&cpu_6>;
				};

				core3 {
					cpu = <&cpu_7>;
				};
			};
		};
	};

	memory@0 {
		device_type = "memory";
		reg = <0x0 0x00000000 0x0 0x80000000>;
	};

	memory@100000000 {
		device_type = "memory";
		reg = <0x1 0x00000000 0x0 0x80000000>;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		linux,cma {
			compatible = "shared-dma-pool";
			/* alloc memory from 0x40000000~0x80000000 */
			alloc-ranges = <0 0x40000000 0 0x40000000>;
			/* size of cma buffer is 384MByte */
			size = <0 0x18000000>;
			/* start address is 1Mbyte aligned */
			alignment = <0x0 0x100000>;
			linux,cma-default;
			/* besides hardware, dma for ex. buffer can be used by memory management */
			reusable;
		};

		/* reserved 384K for dpu, including mmu table(256K) and cmdlist(128K) */
		dpu_resv: dpu_reserved@2ff40000 {
			compatible = "shared-dma-pool";
			reg = <0x0 0x2ff40000 0x0 0x000C0000>;
			no-map;
		};
	};

	chosen {
		bootargs = "earlycon=sbi console=ttyS0,115200n8 debug loglevel=8 swiotlb=65536 rdinit=/init";
		stdout-path = "serial0:115200n8";
	};

	dc_12v: dc-12v {
		compatible = "regulator-fixed";
		regulator-name = "dc_12v";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <12000000>;
		regulator-max-microvolt = <12000000>;
	};

	vcc4v0_baseboard: vcc4v0-baseboard {
		compatible = "regulator-fixed";
		regulator-name = "vcc4v0_baseboard";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <4000000>;
		regulator-max-microvolt = <4000000>;
		vin-supply = <&dc_12v>;
	};

	rf_pwrseq: rf-pwrseq {
		compatible = "spacemit,rf-pwrseq";
		//vdd-supply = <&ldo_7>;
		//vdd_voltage = <3300000>;
		io-supply = <&dcdc_3>;
		io_voltage = <1800000>;
		pwr-gpios  = <&gpio 67 0>,
			     <&gpio 03 0>;
		status = "disabled";

		wlan_pwrseq: wlan-pwrseq {
			compatible = "spacemit,wlan-pwrseq";
			regon-gpios = <&gpio 116 0>;
			interrupt-parent = <&pinctrl>;
			interrupts = <268>;
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_wlan_wakeup>;
		};

		bt_pwrseq: bt-pwrseq {
			compatible = "spacemit,bt-pwrseq";
			reset-gpios     = <&gpio 63 0>;
		};
	};

	usb2hub: usb2hub {
		compatible = "spacemit,usb3-hub";
		vbus-gpios = <&gpio 91 0>;	/* for usb2 hub output vbus */
		status = "disabled";
	};

	hall_sensor: hall-sensor {
		compatible = "spacemit,hall-sensor-as1911";
		detect-gpio = <&gpio 74 0>;
	};

	/*gpio_keys: gpio_keys {
		compatible = "gpio-keys";

		key0: volumeup {
			label = "KEY0";
			linux,code = <KEY_VOLUMEUP>;
			gpios = <&gpio 70 GPIO_ACTIVE_LOW>;
		};

		key1: volumedown {
			label = "KEY1";
			linux,code = <KEY_VOLUMEDOWN>;
			gpios = <&gpio 71 GPIO_ACTIVE_LOW>;
		};
	};*/
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart0_2>;
	status = "okay";
};

&uart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart2>;
	status = "okay";
};

&i2c2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c2_0>;
	spacemit,i2c-fast-mode;
	status = "okay";

	eeprom@50{
		compatible = "atmel,24c02";
		reg = <0x50>;
		#address-cells = <1>;
		#size-cells = <1>;

		power-domains = <&power K1X_PMU_DUMMY_PWR_DOMAIN>;
		status = "okay";

		mac_address0: mac_address0@0 {
			reg = <0x0 6>;
		};

		mac_address1: mac_address1@6 {
			reg = <0x6 6>;
		};
	};

	es8326: es8326@19{
		compatible = "everest,es8326";
		reg = <0x19>;
		#sound-dai-cells = <0>;
		interrupt-parent = <&gpio>;
		interrupts = <126 1>;
		spk-ctl-gpio = <&gpio 127 0>;
		everest,jack-detect-inverted;
		everest,mic1-src = [44];
		everest,mic2-src = [66];
		status = "okay";
	};
};

&i2c4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c4_2>;
	status = "disabled";
};

&i2c5 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c5_0>;
	status = "okay";

	accelerometer: accel@15 {
		compatible = "memsic,mxc4005";
		reg = <0x15>;
		status = "disabled";
	};

	icm42607@68 {
		compatible = "invn,icm42607";
		reg = <0x68>;
	};
};


&i2c6 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c6_0>;
	clock-frequency = <100000>;
	status = "okay";

	ocp2138@3e {
		compatible = "spacemit,lcd_bias_ocp2138";
		reg = <0x3e>;
		status = "disabled";
	};
};

&i2c8 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c8>;
	status = "okay";

	spm8821@41 {
		compatible = "spacemit,spm8821";
		reg = <0x41>;
		interrupt-parent = <&intc>;
		interrupts = <64>;
		status = "okay";

		vcc_sys-supply = <&vcc4v0_baseboard>;
		dcdc5-supply = <&dcdc_5>;

		regulators {
			compatible = "pmic,regulator,spm8821";

			/* buck */
			dcdc_1: DCDC_REG1 {
				regulator-name = "dcdc1";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3450000>;
				regulator-ramp-delay = <5000>;
				regulator-always-on;

				regulator-state-mem {
					regulator-off-in-suspend;
					regulator-suspend-microvolt = <650000>;
				};
			};

			dcdc_2: DCDC_REG2 {
				regulator-name = "dcdc2";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3450000>;
				regulator-ramp-delay = <5000>;
				regulator-always-on;
			};

			dcdc_3: DCDC_REG3 {
				regulator-name = "dcdc3";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <1800000>;
				regulator-ramp-delay = <5000>;
				regulator-always-on;
			};

			dcdc_4: DCDC_REG4 {
				regulator-name = "dcdc4";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3300000>;
				regulator-ramp-delay = <5000>;
				regulator-always-on;

				regulator-state-mem {
					regulator-off-in-suspend;
					regulator-suspend-microvolt = <3300000>;
				};
			};

			dcdc_5: DCDC_REG5 {
				regulator-name = "dcdc5";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3450000>;
				regulator-ramp-delay = <5000>;
				regulator-always-on;
			};

			dcdc_6: DCDC_REG6 {
				regulator-name = "dcdc6";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3450000>;
				regulator-ramp-delay = <5000>;
				regulator-always-on;
			};

			/* aldo */
			ldo_1: LDO_REG1 {
				regulator-name = "ldo1";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3400000>;
				regulator-boot-on;

				regulator-state-mem {
					regulator-off-in-suspend;
					regulator-suspend-microvolt = <500000>;
				};
			};

			ldo_2: LDO_REG2 {
				regulator-name = "ldo2";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3400000>;

				regulator-state-mem {
					regulator-off-in-suspend;
					regulator-suspend-microvolt = <500000>;
				};
			};

			ldo_3: LDO_REG3 {
				regulator-name = "ldo3";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3400000>;

				regulator-state-mem {
					regulator-off-in-suspend;
					regulator-suspend-microvolt = <500000>;
				};
			};

			ldo_4: LDO_REG4 {
				regulator-name = "ldo4";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3400000>;

				regulator-state-mem {
					regulator-off-in-suspend;
					regulator-suspend-microvolt = <500000>;
				};
			};

			/* dldo */
			ldo_5: LDO_REG5 {
				regulator-name = "ldo5";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3400000>;
				regulator-boot-on;

				regulator-state-mem {
					regulator-off-in-suspend;
					regulator-suspend-microvolt = <500000>;
				};
			};

			ldo_6: LDO_REG6 {
				regulator-name = "ldo6";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3400000>;

				regulator-state-mem {
					regulator-off-in-suspend;
					regulator-suspend-microvolt = <500000>;
				};
			};

			ldo_7: LDO_REG7 {
				regulator-name = "ldo7";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3400000>;

				regulator-state-mem {
					regulator-off-in-suspend;
					regulator-suspend-microvolt = <500000>;
				};
			};

			ldo_8: LDO_REG8 {
				regulator-name = "ldo8";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3400000>;
				regulator-always-on;
			};

			ldo_9: LDO_REG9 {
				regulator-name = "ldo9";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3400000>;
			};

			ldo_10: LDO_REG10 {
				regulator-name = "ldo10";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3400000>;
				regulator-always-on;
			};

			ldo_11: LDO_REG11 {
				regulator-name = "ldo11";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3400000>;
			};

			sw_1: SWITCH_REG1 {
				regulator-name = "switch1";
			};
		};

		pmic_pinctrl: pinctrl {
			compatible = "pmic,pinctrl,spm8821";
			gpio-controller;
			#gpio-cells = <2>;
			spacemit,npins = <6>;
/**
 *			led_pins: led-pins {
 *				pins = "PIN3";
 *				function = "sleep";
 *				bias-disable = <0>;
 *				drive-open-drain = <0x1>;
 *			};
 */
		};

		pwr_key: key {
			compatible = "pmic,pwrkey,spm8821";
		};

		ext_rtc: rtc {
			compatible = "pmic,rtc,spm8821";
		};
	};

	sgm4154x: sgm4154x@1a {
		status = "disabled";
		compatible = "sgm,sgm41515";
		reg = <0x1a>;
		interrupt-parent = <&gpio>;
		interrupts = <123 0>;            //irq num base on hardware design
		sgm,irq-gpio = <&gpio 123 0>;     //irq num base on hardware design
		sgm,chg-en-gpio = <&gpio 117 0>;   //charger enable gpio num base on hardware design
		nqon-gpios = <&gpio 115 0>;
		/* sw jeita  parameter customer defined*/
		enable_sw_jeita;
		jeita_temp_above_t4_cv = <0>;
		jeita_temp_t3_to_t4_cv = <4100000>;
		jeita_temp_t2_to_t3_cv = <4350000>;
		jeita_temp_t1_to_t2_cv = <4350000>;
		jeita_temp_t0_to_t1_cv = <0>;
		jeita_temp_below_t0_cv = <0>;

		jeita_temp_above_t4_cc_current = <0>;
		jeita_temp_t3_to_t4_cc_current = <1000000>;
		jeita_temp_t2_to_t3_cc_current = <1250000>;
		jeita_temp_t1_to_t2_cc_current = <1000000>;
		jeita_temp_below_t0_cc_current = <0>;

		temp_t4_thres = <50>;
		temp_t4_thres_minus_x_degree = <48>;
		temp_t3_thres = <45>;
		temp_t3_thres_minus_x_degree = <45>;
		temp_t2_thres = <20>;
		temp_t2_thres_plus_x_degree = <15>;
		temp_t1_thres = <0>;
		temp_t1_thres_plus_x_degree = <0>;
		temp_t0_thres = <0>;
		temp_t0_thres_plus_x_degree = <2>;
		temp_neg_10_thres = <0>;
	};
};

&pinctrl {
	pinctrl-single,gpio-range = <
		&range GPIO_03  1 (MUX_MODE0 | EDGE_NONE | PULL_UP   | PAD_1V8_DS2)
		&range GPIO_49  2 (MUX_MODE0 | EDGE_NONE | PULL_UP   | PAD_3V_DS4)
		&range GPIO_58  1 (MUX_MODE0 | EDGE_NONE | PULL_UP   | PAD_1V8_DS2)
		&range GPIO_63  2 (MUX_MODE0 | EDGE_NONE | PULL_UP   | PAD_1V8_DS2)
		&range GPIO_65  1 (MUX_MODE0 | EDGE_NONE | PULL_UP   | PAD_1V8_DS2)
		&range GPIO_66  2 (MUX_MODE0 | EDGE_NONE | PULL_UP   | PAD_3V_DS4)
		&range PRI_TDI  2 (MUX_MODE1 | EDGE_NONE | PULL_UP   | PAD_1V8_DS2)
		&range PRI_TCK  1 (MUX_MODE1 | EDGE_NONE | PULL_DOWN | PAD_1V8_DS2)
		&range PRI_TDO  1 (MUX_MODE1 | EDGE_NONE | PULL_UP   | PAD_1V8_DS2)
		&range GPIO_74  1 (MUX_MODE0 | EDGE_NONE | PULL_UP   | PAD_1V8_DS2)
		&range GPIO_76  1 (MUX_MODE0 | EDGE_NONE | PULL_UP   | PAD_3V_DS4)
		&range GPIO_78  1 (MUX_MODE0 | EDGE_NONE | PULL_UP   | PAD_3V_DS4)
		&range GPIO_80  1 (MUX_MODE0 | EDGE_NONE | PULL_UP   | PAD_3V_DS4)
		&range GPIO_81  3 (MUX_MODE0 | EDGE_NONE | PULL_UP   | PAD_1V8_DS2)
		&range GPIO_89  1 (MUX_MODE0 | EDGE_NONE | PULL_UP   | PAD_1V8_DS2)
		&range GPIO_90  1 (MUX_MODE0 | EDGE_NONE | PULL_DOWN | PAD_1V8_DS2)
		&range GPIO_91  2 (MUX_MODE0 | EDGE_NONE | PULL_UP   | PAD_1V8_DS2)
		&range DVL0     2 (MUX_MODE1 | EDGE_NONE | PULL_DOWN | PAD_1V8_DS2)
		&range GPIO_110 1 (MUX_MODE0 | EDGE_NONE | PULL_DOWN | PAD_1V8_DS2)
		&range GPIO_114 1 (MUX_MODE0 | EDGE_NONE | PULL_DOWN | PAD_1V8_DS2)
		&range GPIO_115 2 (MUX_MODE0 | EDGE_NONE | PULL_DOWN | PAD_1V8_DS2)
		&range GPIO_123 1 (MUX_MODE0 | EDGE_NONE | PULL_DOWN | PAD_1V8_DS2)
		&range GPIO_124 1 (MUX_MODE0 | EDGE_NONE | PULL_UP   | PAD_1V8_DS2)
		&range GPIO_125 3 (MUX_MODE0 | EDGE_NONE | PULL_DOWN | PAD_1V8_DS2)
	>;

	pinctrl_rcpu: pinctrl_rcpu_grp {
		pinctrl-single,pins = <
			K1X_PADCONF(GPIO_47,   MUX_MODE1, (EDGE_NONE | PULL_UP | PAD_3V_DS4))	/* r_uart0_tx */
			K1X_PADCONF(GPIO_48,   MUX_MODE1, (EDGE_NONE | PULL_UP | PAD_3V_DS4))	/* r_uart0_rx */
		>;
	};

	pinctrl_wlan_wakeup: wlan_wakeup_grp {
		pinctrl-single,pins =<
			K1X_PADCONF(GPIO_66, MUX_MODE0, (EDGE_FALL | PULL_DOWN | PAD_3V_DS2))   /* wifi edge detect */
		>;
	};
};

&gpio{
	gpio-ranges = <
		&pinctrl 03  GPIO_03  1
		&pinctrl 49  GPIO_49  2
		&pinctrl 58  GPIO_58  1
		&pinctrl 63  GPIO_63  5
		&pinctrl 70  PRI_TDI  4
		&pinctrl 74  GPIO_74  1
		&pinctrl 76  GPIO_76  1
		&pinctrl 78  GPIO_78  1
		&pinctrl 80  GPIO_80  4
		&pinctrl 89  GPIO_89  4
		&pinctrl 96  DVL0     2
		&pinctrl 110 GPIO_110 1
		&pinctrl 114 GPIO_114 3
		&pinctrl 123 GPIO_123 5
	>;
};

/* SD */
&sdhci0 {
	pinctrl-names = "default","fast";
	pinctrl-0 = <&pinctrl_mmc1>;
	pinctrl-1 = <&pinctrl_mmc1_fast>;
	bus-width = <4>;
	cd-gpios = <&gpio 80 0>;
	vmmc-supply = <&dcdc_4>;
	vqmmc-supply = <&ldo_1>;
	no-mmc;
	no-sdio;
	spacemit,sdh-host-caps-disable = <(
			MMC_CAP_UHS_SDR12 |
			MMC_CAP_UHS_SDR25
			)>;
	spacemit,sdh-quirks = <(
			SDHCI_QUIRK_BROKEN_CARD_DETECTION |
			SDHCI_QUIRK_INVERTED_WRITE_PROTECT |
			SDHCI_QUIRK_BROKEN_TIMEOUT_VAL
			)>;
	spacemit,sdh-quirks2 = <(
			SDHCI_QUIRK2_PRESET_VALUE_BROKEN |
			SDHCI_QUIRK2_BROKEN_PHY_MODULE |
			SDHCI_QUIRK2_SET_AIB_MMC
			)>;
	spacemit,aib_mmc1_io_reg = <0xD401E81C>;
	spacemit,apbc_asfar_reg = <0xD4015050>;
	spacemit,apbc_assar_reg = <0xD4015054>;
	spacemit,rx_dline_reg = <0x0>;
	spacemit,tx_dline_reg = <0x0>;
	spacemit,tx_delaycode = <0x7f>;
	spacemit,rx_tuning_limit = <50>;
	spacemit,sdh-freq = <204800000>;
	status = "okay";
};

/* SDIO */
&sdhci1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_mmc2>;
	bus-width = <4>;
	non-removable;
	vqmmc-supply = <&dcdc_3>;
	no-mmc;
	no-sd;
	keep-power-in-suspend;
	/* bcmdhd use private oob solution rather than dat1/standard wakeup */
	/delete-property/ enable-sdio-wakeup;
	spacemit,sdh-host-caps-disable = <(
			MMC_CAP_UHS_DDR50 |
			MMC_CAP_NEEDS_POLL
			)>;
	spacemit,sdh-quirks = <(
			SDHCI_QUIRK_BROKEN_CARD_DETECTION |
			SDHCI_QUIRK_BROKEN_TIMEOUT_VAL
			)>;
	spacemit,sdh-quirks2 = <(
			SDHCI_QUIRK2_PRESET_VALUE_BROKEN |
			SDHCI_QUIRK2_BROKEN_PHY_MODULE
			)>;
	spacemit,rx_dline_reg = <0x0>;
	spacemit,rx_tuning_limit = <50>;
	spacemit,sdh-freq = <375000000>;
	status = "okay";
};

/* eMMC */
&sdhci2 {
	bus-width = <8>;
	non-removable;
	mmc-hs400-1_8v;
	mmc-hs400-enhanced-strobe;
	no-sd;
	no-sdio;
	spacemit,sdh-quirks = <(
			SDHCI_QUIRK_BROKEN_CARD_DETECTION |
			SDHCI_QUIRK_BROKEN_TIMEOUT_VAL
			)>;
	spacemit,sdh-quirks2 = <(
			SDHCI_QUIRK2_PRESET_VALUE_BROKEN
			)>;
	spacemit,sdh-freq = <375000000>;
	status = "okay";
};

&usbphy {
	status = "disabled";
};

&ehci {
	spacemit,reset-on-resume;
	status = "disabled";
};

&udc {
	/*spacemit,udc-mode = <MV_USB_MODE_OTG>;
	spacemit,extern-attr = <MV_USB_HAS_VBUS_IDPIN_DETECTION>;*/
	spacemit,udc-mode = <MV_USB_MODE_UDC>;
	status = "disabled";
};

&usbphy1 {
	status = "disabled";
};

&ehci1 {
	spacemit,reset-on-resume;
	status = "disabled";
};

&usb2phy {
	status = "disabled";
};

&combphy {
	status = "disabled";
};

&usb3hub {
	vbus-gpios = <&gpio 89 0>,
		     <&gpio 124 0>;
	status = "disabled";
};

&usbdrd3 {
	status = "disabled";
	reset-on-resume;
	dwc3@c0a00000 {
		dr_mode = "host";
		phy_type = "utmi";
		snps,hsphy_interface = "utmi";
		snps,dis_enblslpm_quirk;
		snps,dis_u2_susphy_quirk;
		snps,dis_u3_susphy_quirk;
		snps,dis-del-phy-power-chg-quirk;
		snps,dis-tx-ipgap-linecheck-quirk;
		snps,parkmode-disable-ss-quirk;
	};
};

&imggpu {
	status = "okay";
};

&qspi {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_qspi>;
	status = "disabled";

	flash@0 {
		compatible = "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <26500000>;
		m25p,fast-read;
		broken-flash-reset;
		status = "okay";
	};
};

&rcpu {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_rcpu>;
	mboxes = <&mailbox 0>, <&mailbox 1>;
	mbox-names = "vq0", "vq1";
	memory-region = <&rcpu_mem_0>, <&vdev0vring0>, <&vdev0vring1>, <&vdev0buffer>, <&rsc_table>, <&rcpu_mem_snapshots>;
	status = "okay";
};

&i2s0 {
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_sspa0_0>;
        status = "disabled";
};

&sound_codec {
	status = "disabled";
	simple-audio-card,name = "snd-es8326";
	spacemit,mclk-fs = <64>;
	simple-audio-card,codec {
		sound-dai = <&es8326>;
	};
};
