// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
 * Copyright (C) 2020 Synaptics Incorporated
 *
 * Author: Benson Gui <begu@synaptics.com>
 */

/dts-v1/;

/memreserve/ 0x7f000000 0x01000000;

#include <dt-bindings/gpio/gpio.h>

#include "vs640.dtsi"

/ {
	model = "Synaptics VS640 EVK";
	compatible = "syna,vs640-evk", "syna,vs640";

	cpus {
		cpu@0 {
			cpu0-supply = <&vcpu>;
		};
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	memory {
		device_type = "memory";
		reg = <0 0x01000000 0 0x7f000000>;
	};

	panel0-backlight {
		compatible = "pwm-backlight";
		pwms = <&pwm0 1 1000000 0>;
		brightness-levels = <0 4 8 16 32 64 128 255>;
		default-brightness-level = <6>;
		enable-gpio = <&expander0 4 GPIO_ACTIVE_HIGH>;
	};

	ion {
		compatible = "syna,ion-berlin-heaps";
		pool-num = <2>;
		reg-names = "NonSecure-NC", "Secure";
		reg = <0 0x7f000000 0 0x00800000>,
		      <0 0x7f800000 0 0x00800000>;
		attributes-num-per-pool = <2>;
		pool-attributes = <0x00000105 0x00000F3A 0x00000102 0x00000F3D>;
	};

	regulators {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <0>;

		reg_usb0_vbus: usb0_vbus {
			compatible = "regulator-fixed";
			regulator-name = "usb0_vbus";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&expander1 6 GPIO_ACTIVE_HIGH>;
			enable-active-high;
		};

		reg_xhci0_vbus: xhci0_vbus {
			compatible = "regulator-fixed";
			regulator-name = "xhci0_vbus";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&expander1 5 GPIO_ACTIVE_HIGH>;
			enable-active-high;
		};
	};

	bt_reg_on: bt_reg_on {
		compatible = "syna,rfkill";
		bt-power-gpio = <&expander1 4 GPIO_ACTIVE_HIGH>;
	};

	bluesleep: bluesleep {
		compatible = "syna,bluesleep";
		bt-dev-wake-gpio = <&expander1 2 GPIO_ACTIVE_HIGH>;
	};

	dummy_label {
		dummy1 = <&vcore1>;
		dummy2 = <&vcpu1>;
		dummy3 = <&vcore2>;
	};
};

&pinctrl {
	i2c0_pmux: i2c0-pmux {
		groups = "TW0_SCL", "TW0_SDA";
		function = "tw0";
		drive-strength = <7>;
	};

	i2c1_pmux: i2c1-pmux {
		groups = "SDIO0_CDn", "SDIO0_WP";
		function = "tw1a";
		drive-strength = <7>;
	};

	scrd_pmux: scrd-pmux {
		groups ="SCRD0_RST", "SCRD0_DCLK", "SPI1_SS2n", "SPI1_SS3n", "SCRD0_DIO", "SCRD0_CRD_PRES";
		function = "scrd0";
	};

	hdmi_pwr_pmux: hdmi_pwr-pmux {
		groups = "GPIO_A0";
		function = "gpio";
	};

	pwm1_pmux: pwm1-pmux {
		groups = "SPI1_SS1n";
		function = "pwm";
	};
};

&sm_pinctrl {
	i2c2_pmux: i2c2-pmux {
		groups = "SM_TW2_SCL", "SM_TW2_SDA";
		function = "tw2";
		drive-strength = <7>;
	};

	i2c3_pmux: i2c3-pmux {
		groups = "SM_TW3_SCL", "SM_TW3_SDA";
		function = "tw3";
		drive-strength = <7>;
	};

	uart2_pmux: uart2-pmux {
		groups = "SM_SPI2_SS2n", "SM_SPI2_SS3n", "SM_SPI2_SDI", "SM_SPI2_SDO";
		function = "uart2a";
		drive-strength = <3>;
	};
};

&avio_pinctrl {
	i2s1_pmux: i2s1-pmux {
		groups = "I2S1_BCLKIO", "I2S1_LRCKIO", "I2S1_DO0", "I2S1_MCLK";
		function = "i2s1";
	};

	falcon_gpio_pmux: falcon_gpio-pmux {
		groups = "I2S1_DO1";
		function = "gpio";
	};

	i2s2_pmux: i2s2-pmux {
		groups = "I2S2_BCLKIO", "I2S2_LRCKIO", "I2S2_DI0";
		function = "i2s2";
	};

	i2s3_pmux: i2s3-pmux {
		groups = "I2S3_LRCKIO", "I2S3_BCLKIO", "I2S3_DI", "I2S3_DO";
		function = "i2s3";
	};

	spdifo_pmux: spdifo-pmux {
		groups = "SPDIFO";
		function = "spdifo";
	};

	pdm_pmux: pdm-pmux {
		groups = "I2S2_MCLK", "I2S2_DI3", "I2S2_DI2";
		function = "pdm";
	};
};

&sdhci0 {
	status = "okay";
	sdclkdl-dc = /bits/ 8 <26>;
	mmc-ddr-1_8v;
	mmc-hs200-1_8v;
	mmc-hs400-1_8v;
	dll-calibration;
	dll-delay-offset = <300>;
};

&pcie_phy0 {
	status = "okay";
};

&pcie0 {
	status = "okay";
	reset-gpios = <&expander1 1 GPIO_ACTIVE_LOW>;
};

&uart0 {
	status = "okay";
};

&i2c0 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c0_pmux>;

	falcon: cx9000@33 {
		compatible = "cnxt,cx9000";
		pinctrl-names = "default";
		pinctrl-0 = <&falcon_gpio_pmux>;

		#sound-dai-cells = <0>;
		reg = <0x33>;
		enable-gpios = <&porta 17 GPIO_ACTIVE_HIGH>;
		status = "okay";
	};
};

&i2c1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c1_pmux>;

	vcpu: regulator@61 {
		compatible = "halo,hl7593";
		regulator-name = "vcpu";
		regulator-min-microvolt = <700000>;
		regulator-max-microvolt = <987500>;
		regulator-always-on;
		regulator-boot-on;
		regulator-active-discharge = <0>;
		halo,vsel-state-high;
		halo,vsel-step = <1>;
		reg = <0x61>;
	};

	regulator@49 {
		compatible = "ti,tps62868";
		reg = <0x49>;
		status = "disabled";
		regulators {
			vcpu1: SW {
				regulator-boot-on;
				regulator-always-on;
				regulator-active-discharge = <0>;
				regulator-name = "vcpu";
				regulator-min-microvolt = <700000>;
				regulator-max-microvolt = <987500>;
				regulator-initial-mode = <0>;
			};
		};
	};
};

&i2c2 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c2_pmux>;

	vcore: regulator@61 {
		compatible = "halo,hl7593";
		regulator-name = "vcore";
		regulator-min-microvolt = <700000>;
		regulator-max-microvolt = <937500>;
		regulator-always-on;
		regulator-boot-on;
		regulator-active-discharge = <0>;
		halo,vsel-state-high;
		halo,vsel-step = <1>;
		reg = <0x61>;
	};

	vcore1: regulator1@60 {
		status = "disabled";
		compatible = "silergy,sy8827n";
		regulator-name = "vcore";
		regulator-min-microvolt = <700000>;
		regulator-max-microvolt = <937500>;
		regulator-active-discharge = <0>;
		regulator-always-on;
		regulator-boot-on;
		silergy,vsel-step = <1>;
		reg = <0x60>;
	};

	regulator@49 {
		compatible = "ti,tps62868";
		reg = <0x49>;
		status = "disabled";
		regulators {
			vcore2: SW {
				regulator-boot-on;
				regulator-always-on;
				regulator-active-discharge = <0>;
				regulator-name = "vcore";
				regulator-min-microvolt = <700000>;
				regulator-max-microvolt = <987500>;
				regulator-initial-mode = <0>;
			};
		};
	};
};

&i2c3 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c3_pmux>;
	no-irq-suspend;

	expander0: gpio@43 {
		compatible = "fcs,fxl6408";
		reg = <0x43>;
		gpio-controller;
		#gpio-cells = <2>;
	};

	expander1: gpio@44 {
		compatible = "fcs,fxl6408";
		reg = <0x44>;
		gpio-controller;
		#gpio-cells = <2>;
		shutdown-mask = /bits/ 8 <0x1>;
		shutdown-val = /bits/ 8 <0x0>;

		soc_global_rstn {
			gpio-hog;
			gpios = <0 GPIO_ACTIVE_HIGH>;
			output-high;
		};
	};

	rtc0: rtc@68 {
		compatible = "dallas,ds1339";
		wakeup-source;
		reg = <0x68>;
	};
};

&ephy {
	status = "okay";
};

&mdio0 {
	phy0: ethernet-phy@0 {
		reg = <0>;
		interrupt-parent = <&sic>;
		interrupts = <30>;
		ephy = <&ephy>;
		eee-broken-100tx;
	};
};

&gmac0 {
	status = "okay";
	phy-handle = <&phy0>;
	phy-mode = "mii";
};

&usb0 {
	vbus-supply = <&reg_usb0_vbus>;
	status = "okay";
};

&usb_phy0 {
	status = "okay";
};

&xhci0 {
	vbus-supply = <&reg_xhci0_vbus>;
	status = "okay";
};

&usb_phy1{
	status = "okay";
};

&h1 {
	status = "okay";
};

&vxg {
	status = "okay";
};

&shm {
	status = "okay";
};

&drm {
	status = "okay";
};

&bm {
	status = "okay";
};

&tsp {
	status = "okay";
};

&sm {
	status = "okay";
};

&ir {
	status = "okay";
};

&npu {
	status = "okay";
};

&avio {
	status = "okay";
	vpp {
		pinctrl-0 = <&hdmi_pwr_pmux>;
		pinctrl-names = "default";
		hdtx5v-gpio = <&portb 3 GPIO_ACTIVE_HIGH>; /* SOC GPIO 35 */
	};
};

&gpu {
	status = "okay";
};

&aout {
	status = "okay";
	pinctrl-0 = <&i2s1_pmux>, <&spdifo_pmux>;
	pinctrl-names = "default";
};

&nsk {
	status = "okay";
};

&ovp {
	status = "okay";
};

&usim {
	status = "okay";
	pinctrl-0 = <&scrd_pmux>;
	pinctrl-names = "default";
	voltcfg1-gpios = <&portb 2 GPIO_ACTIVE_HIGH>;
	voltcfg2-gpios = <&portb 1 GPIO_ACTIVE_HIGH>;
	cmdvcc-gpios = <&expander0 3 GPIO_ACTIVE_HIGH>;
	chipsel-gpios = <&expander0 7 GPIO_ACTIVE_HIGH>;
	ext-volt-cfg-div = <0 1 3>; /* <VOLT_CFG_1_8V VOLT_CFG_3_3V VOLT_CFG_5_0V> */
};

&vpp {
	status = "okay";
};

&fb {
	status = "okay";
};

&cec {
	status = "okay";
};

&dsp0 {
	status = "okay";
};

&dsp1 {
	status = "okay";
};

&ifcp {
	status = "okay";
};

&i2s_mic1 {
	status = "okay";
	pinctrl-0 = <&i2s2_pmux>;
	pinctrl-names = "default";
	intlmode;
};

&dmic {
	status = "okay";
	pinctrl-0 = <&pdm_pmux>;
	pinctrl-names = "default";
	pdm-type = <1>;
	pdm-clk-sel = <2>;
};

&i2s_pri_lpbk {
	status = "okay";
};

&i2s_hdmi_lpbk {
	status = "okay";
};

&vs640_pcm {
	status = "okay";
};

&i2s_pri {
	status = "okay";
	pinctrl-0 = <&i2s1_pmux>;
	pinctrl-names = "default";
};

&spdif_out {
	status = "okay";
	pinctrl-0 = <&spdifo_pmux>;
	pinctrl-names = "default";
};

&i2s_mic2 {
	status = "okay";
	duplex;
	disablemicmute;
};

&i2s_sec {
	status = "okay";
	pinctrl-0 = <&i2s3_pmux>;
	pinctrl-names = "default";
	duplex;
};

&vs640_asoc {
	status = "okay";

	soc_i2so1: soc-i2so1 {
		status = "okay";
		stream-name = "soc-i2so1";
		link-name = "soc-i2so1";
		format = "i2s";
		continuous-clock;
		bitclock-inversion;
		frame-inversion;
		bitclock-master;
		frame-master;
		cpu-node = <&i2s_pri>;
		codec-name = "cx9000.0-0033";
		codec-dai-name = "cx9000-amplifier";
		platform-node = <&vs640_pcm>;
	};

	soc_i2so3: soc-i2so3 {
		status = "okay";
		stream-name = "soc-i2so3";
		link-name = "soc-i2so3";
		format = "dsp_a";
		bitclock-master;
		frame-master;
		cpu-node = <&i2s_sec>;
		codec-name = "snd-soc-dummy";
		codec-dai-name = "snd-soc-dummy-dai";
		platform-node = <&vs640_pcm>;
	};

	soc_spdifo: soc-spdifo {
		status = "okay";
		stream-name = "soc-spdifo";
		link-name = "soc-spdifo";
		cpu-node = <&spdif_out>;
		codec-name = "snd-soc-dummy";
		codec-dai-name = "snd-soc-dummy-dai";
		platform-node = <&vs640_pcm>;
	};

	soc_dmic: soc-dmic {
		status = "okay";
		stream-name = "soc-dmic";
		link-name = "soc-dmic";
		cpu-node = <&dmic>;
		codec-name = "snd-soc-dummy";
		codec-dai-name = "snd-soc-dummy-dai";
		platform-node = <&vs640_pcm>;
	};

	soc_i2si2: soc-i2si2 {
		status = "okay";
		stream-name = "soc-i2si2";
		link-name = "soc-i2si2";
		format = "i2s";
		bitclock-inversion;
		frame-inversion;
		cpu-node = <&i2s_mic1>;
		codec-name = "snd-soc-dummy";
		codec-dai-name = "snd-soc-dummy-dai";
		platform-node = <&vs640_pcm>;
	};

	soc_i2s_pri_lpbk: soc-i2s-pri-lpbk {
		status = "okay";
		stream-name = "soc-i2s-pri-lpbk";
		link-name = "soc-i2s-pri-lpbk";
		format = "i2s";
		cpu-node = <&i2s_pri_lpbk>;
		codec-name = "snd-soc-dummy";
		codec-dai-name = "snd-soc-dummy-dai";
		platform-node = <&vs640_pcm>;
	};

	soc_i2s_hdmi_lpbk: soc-i2s-hdmi-lpbk {
		status = "okay";
		stream-name = "soc-i2s-hdmi-lpbk";
		link-name = "soc-i2s-hdmi-lpbk";
		format = "i2s";
		cpu-node = <&i2s_hdmi_lpbk>;
		codec-name = "snd-soc-dummy";
		codec-dai-name = "snd-soc-dummy-dai";
		platform-node = <&vs640_pcm>;
	};

	soc_i2si3: soc-i2si3 {
		status = "okay";
		stream-name = "soc-i2si3";
		link-name = "soc-i2si3";
		format = "dsp_a";
		bitclock-master;
		frame-master;
		cpu-node = <&i2s_mic2>;
		codec-name = "snd-soc-dummy";
		codec-dai-name = "snd-soc-dummy-dai";
		platform-node = <&vs640_pcm>;
	};
};

&uart2 {
	pinctrl-0 = <&uart2_pmux>;
	pinctrl-names = "default";
	status = "okay";
};

&axi_meter {
	status = "okay";
};

&pwm0 {
	pinctrl-names = "default";
	pinctrl-0 = <&pwm1_pmux>;
	status = "okay";
};
