# SPDX-License-Identifier: GPL-2.0
#
# Phy drivers for Spacemit platforms
#
config PHY_SPACEMIT_K1X_COMBPHY
	tristate "Spacemit K1-x USB3&PCIE combo PHY driver"
	depends on OF
	select GENERIC_PHY
	default SOC_SPACEMIT_K1X && USB_DWC3_SPACEMIT
	help
	  USB3 and PCIE Combo PHY Support for Spacemit k1-x Soc
