/dts-v1/;
/plugin/;

/ {
	compatible = "renesas,r9a09g056";

	fragment@0 {
		target-path = "/aliases";
		__overlay__ {
			spi1 = "/soc/spi@12800000";
		};
	};

	fragment@1 {
		target-path = "/soc/spi@12800000";
		__overlay__ {
			status = "okay";

			spidev@0 {
				reg = <0>;
				compatible = "rohm,dh2228fv";
				spi-max-frequency = <500000>;
				spi-rx-bus-width = <0x1>;
				spi-tx-bus-width = <0x1>;
			};

			spidev@1 {
                                reg = <1>;
                                compatible = "rohm,dh2228fv";
                                spi-max-frequency = <500000>;
                                spi-rx-bus-width = <0x1>;
                                spi-tx-bus-width = <0x1>;
                        };
		};	
	};
};
